* {
    margin:0;
    padding:0;
}

 a.nav-link:hover{
     color: #FFC0CB !important;
}



.navbar .nav-item .nav-link{
    position:relative;
}
.navbar .nav-item .nav-link::before{
    content:'';
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:2px;
    background-color:#FC94AF;
    transition:all 0.5s ease;
    transform:scale(0);
    
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before{
    transform:scale(1);
}

body{
    font-family: sans-serif;
}

#nav-bar{
    position:sticky;
    top:0;
    z-index:10;
    
}

.navbar{
   background-image: linear-gradient(to right, #fff, #fff);
  /*background-image: linear-gradient(to right, #ff0000, #990000);*/
    padding: 0 !important;
}

.navbar-brand img{
    height:180px;
    padding-left:20px;
    border:none;
}

.navbar-nav li{
    padding:0 10px;
}

.navbar-nav li a{
    color: #000 !important;
    font-weight: 600;
}

.fa-bars{
    color:#000;
    font-size:30px !important;
}

.navbar-toggler{
    outline:none !important;
}


/*----------------banner section-----------------*/

#banner{
    /*background-image: linear-gradient(to right, #FE7F9C, #FFC0CB);*/
    padding-top: 5%;
}

.banner-title{
    font-size: 40px;
    font-weight: 600;
    margin-top:100px;
    
    
}

.img-fluid{
    height:40px;
}

.bottom-img{
    width:100%;
}

/*--------------------THE TEAM------------------*/

#team{
    padding:80px 0;
}

.person-img{
   /* height:150px;
    width:100px;*/
    margin-top:20px;
    vertical-align: middle;
    width: 100px;
    height: 150px;
    border-radius: 50%;
}

.theteam{
    padding:20px;
}

.theteam h5{
    padding:5px;
    margin-top:25px;
    text-transform:uppercase;
}

.team-title::before{
    content:'';
    background:#FFC0CB;
    height: 5px;
    width:200px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    transform: translateY(63px);
}

.team-title::after{
    margin-bottom:15px;
}

/*-------------------------------------ABOUT US---------------------*/

#aboutus{
    background: #f8f9fa;
    padding-bottom:50px;
    padding-top:50px;
}

.about-para{
    font-size:30px;
    font-weight:600;
    margin-top:8%;
}
.about-para1{
    font-size:20px;
    font-weight:300;
    margin-top: 10%;
    
}

#aboutus ul li{
    margin: 10px 0;
}

#aboutus ul{
    /*margin-left:10px;*/
}

.title::before{
    content:'';
    background:#FFC0CB;
    height: 5px;
    width:200px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    transform: translateY(63px);
}



/*-------------------------------------FOOTER--------------------------*/

#footer{
   /*background-image: linear-gradient(to right, #FE7F9C, #FFC0CB);*/
    color: #000;
}

.footer-img{
    width:100%;
}

.footer-box{
    padding:20px;
}

.footer-box img{
    width:120px;
    margin-bottom:20px;
    margin-top:5px;
}

.footer-box .fa{
    margin-right:8px;
    font-size:25px;
    height:40px;
    width:40px;
    text-align:center;
    padding-top:7px;
    border-radius:2px;
}

.footer-item{
    margin-top:10px;
}


.footer-box .form-control{
    box-shadow: none !important;
    border-color:#000;
    border-radius:5px;;
    margin-top:25px;
    max-width:250px;
    
}

.footer-box .btn-primary{
    box-shadow:none !important;
    border:none;
    border-radius:0;
    margin-top:30px;
    background-image: linear-gradient(to right, #FE7F9C, #FFC0CB);
    
}

hr{
    background-color: #000;
    
}

.copyright{
    margin-bottom:0;
    padding-bottom:20px;
    text-align:center;
}

.social-icons img{
    width:50px;
    transition:0.5s
}


/*------------------------------------------MILESTONE-----------------------------------------------*/

.banner-img{
    width:100%;
}

.card{
    margin-bottom: 40px;
    /*background-color: #FFC0CB !important;*/
}

.card-header .btn-link {
    color: #000;
    text-decoration: none;
    
}

#milestones{
    background: #fff;
    margin-top:20px;
    padding-bottom:50px;
    padding-top:50px;
}


/*------------------------------------------------DOCUMENTS---------------------------------------*/

.docs{
    padding:20px;
    margin-bottom: 30px;
}

.docs h5{
    padding:5px;
    margin-top:50px;
    
}

.docs .btn-primary{
    background-color: #FFC0CB;
    border:none;
}

.doc_title{
   /* padding:5px;*/
}

/*-----------------------------------------------------PROJECT SCOPE-----------------------------------*/

.scope{
    padding:20px;
    margin-bottom: 30px;
}

.scope h3{
    padding:5px;
    margin-top:50px;
}

.scope a{
    text-decoration: none;
}

.lit{
    /*padding:5px;*/
    margin-bottom:30px;
}

.lit h3{
    margin-top:3px;
    margin-bottom: 15px;
}

.lit li{
    margin-bottom:15px;
}

.diagram_img{
    width:100%;
}

.diagram_gap{
    width :50%;
}


.form-group{
    margin-top:20px;
    margin-bottom: 20px;
}

#exampleFormControlInput1{
    
    margin-top:20px;
    margin-bottom: 20px;
}

#exampleFormControlTextarea1{
    margin-top:20px;
    margin-bottom: 20px; 
}



#contact-btn{
    margin-top:10px;
    margin-bottom: 40px; 
    background-color: #FFC0CB;
    border: none;
    
}



.form-group.required.control-label:before {
  content:"*";
  color:red;
 
}

#contact_title{
    margin-bottom:90px;
}

.poster_link{
    text-decoration: none;
}

